@layer base {
  /* white calender icon */
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: 0.8;
  }

  input[type="date"]:focus::-webkit-calendar-picker-indicator {
    opacity: 1;
  }
}