.env

# Python
python-pipeline/venv/
python-pipeline/__pycache__/
python-pipeline/**/__pycache__/
python-pipeline/**/*.pyc
python-pipeline/*.db
python-pipeline/extra_files/

# Node
server/node_modules/
server/dist/
server/.env

# Geral
.DS_Store

# database
*.db